<!DOCTYPE html>
<html style="font-size: 16px;">
    <head>

    </head>
    <body>
        <h1 h2 font-size:16px; style="color: rgb(29, 185, 84);"><center>About Us</h1><br /><br />
            <h2 style="background-color:rgb(30 215 96) ;">
               <body style="background-color:rgb(25 20 20);text-align:center">
  
             <body>
                <b>Please remember to support your friendly neighborhood developers!</br>
                <span style="float:center">Venmo @Shreeyash_Nadella</span><br/>
                <span style="float:center">Venmo @Zack_McKevitt</span><br/>
                <span style="float:center ; color: rgb(0, 0, 0);">Venmo @Ethanschultz555<br/>
                <span style="float:center">Venmo @TrevorPetersonCOCA</span><br/>
               <br>
             <marquee direction="left" width="900" height="50" behavior="alternate" style="border:hollow">
             <marquee behavior="alternate">
             Donations are completely optional
             </marquee>
             </marquee>
            
    </body>