<!DOCTYPE html>
<html style="font-size: 16px;">
    <head>

    </head>
    <body>
        <h1 h2 font-size:16px; style="color: rgb(0, 196, 33);"><center>Interested in Asking Questions?</h1><br /><br />
            <h2 style="background-color:rgb(30 215 96) ;">
               <body style="background-color:rgb(25 20 20);text-align:center">
            <h1 h2 font-size:16px; style="color: #b3b3b3;"><center>Here's the best way to contact us:</h1>
             <body>
                <span style="float:center ; color: rgb(255, 255, 255);">Venmo @Shreeyash_Nadella</span><br/>
                <span style="float:center ; color: rgb(255, 255, 255);">Venmo @Zack_McKevitt</span><br/>
                <span style="float:center ; color: rgb(255, 255, 255);">Venmo @Ethanschultz555<br/>
                <span style="float:center ; color: rgb(255, 255, 255);">Venmo @TrevorPetersonCOCA</span><br/>
               <br>
    </body>
   