<!DOCTYPE html>

<head>
    <title>Test Site</title>
    <link rel="shortcut icon" href="#">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script type="text/javascript">
      // setup some JSON to use
      window.onload = function() {
          // setup the button click
        document.getElementById("button1").onclick = function() {
            var name = document.forms['myform'].elements['fname'].value;
            var json_dat = {title: name, time: 'week'};
            doWork(json_dat)
        };

        document.getElementById("button2").onclick = function() {
            var name = document.forms['myform'].elements['fname'].value;
            var json_dat = {title: name, time: 'month'};
            doWork(json_dat)
        };

        document.getElementById("button3").onclick = function() {
            var name = document.forms['myform'].elements['fname'].value;
            var json_dat = {title: name, time: 'year'};
            doWork(json_dat)
        };
      }

      function doWork(json_dat) {
          // ajax the JSON to the server
          $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "receiver",
            data: JSON.stringify(json_dat),
            success: function (data) {
              document.location.href='/redirect'
            },
            dataType: "html"
            });
          // stop link reloading the page
       event.preventDefault();
      }
      </script>
</head>

        <h1 h2 font-size:16px; style="color: rgb(252, 156, 249);"><center>SpotiPy for the Guys</h1><br /><br />
          <h2 style="background-color:rgb(30 215 96) ;">
             <body style="background-color:rgb(25 20 20);text-align:center">

           <body>
             <br>
            <marquee direction="down" width="900" height="50" behavior="alternate" style="border:hollow; color:rgb(255,7,58);">
           <marquee behavior="alternate">
           We will not steal your information
           </marquee>
           </marquee>

      <form id="myform">

        <label for="fname">Email Address:</label><br>
        <input type="text" id="fname" name="fname"><br>
      </form>

      <input style="width: 40%; height: 40%;" type="button" value="Short Term" id="button1">
      <input style="width: 40%; height: 40%;" type="button" value="Medium Term" id="button2">
      <input style="width: 40%; height: 40%;" type="button" value="Long Term" id="button3">
      <marquee direction="up"  height="200">Your information is safe with us</marquee>

      <!-- <a href="index.html"><button>Home</button></a>
      <a href="contact.html"><button>Contact</button></a>
      <a href="about.html"><button>About</button></a> -->
<br/>
<span style="float:right">Venmo @Shreeyash_Nadella</span><br/>

<span style="float:right">Venmo @Zack_McKevitt</span><br/>
<span style="float:right ; color: rgb(192, 192, 192);">Venmo @Ethanschultz555<br/>
<span style="float:right">Venmo @TrevorPetersonCOCA</span><br/>


    </body>
