<!DOCTYPE html>

<head>
    <title>Results</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <script>
        window.onload = function() {
            document.getElementById("button1").onclick = function() {
                doWork()
            }
        }

        function doWork() {
          // ajax the JSON to the server
          $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/home",
            //data: JSON.stringify(json_dat),
            success: function (data) {
              document.location.href='/home'
            },
            //dataType: "html"
            });
          // stop link reloading the page
       event.preventDefault();
       //window.location.href = "redirect.html";
      }


    </script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <h1 h2 font-size:16px; style="color: rgb(252, 156, 249);"><center>SpotiPy for the Guys</h1><br /><br />
          <h2 style="background-color:rgb(30 215 96) ;">
             <body style="background-color:rgb(25 20 20);text-align:center">

           <body>
             <br>
<div id="wrapper">
<center>
      <form id="myform">

        <marquee direction="side"  height="50">We DO NOT store your data ;) </marquee>
        <table>
            <tr>
                <th>No.</th>
                <th>Top Song</th>
                <th>Top Artists</th>
                <th>Top Danceable Songs</th>
                <th>Top Energetic Songs</th>
                <th>Top Genres</th>
            </tr>
            <tr>
                <td>1</td>
                <td>{{arg0}}</td>
                <td>{{arg10}}</td>
                <td>{{arg20}}</td>
                <td>{{arg30}}</td>
                <td>{{arg40}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{arg1}}</td>
                <td>{{arg11}}</td>
                <td>{{arg21}}</td>
                <td>{{arg31}}</td>
                <td>{{arg41}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>{{arg2}}</td>
                <td>{{arg12}}</td>
                <td>{{arg22}}</td>
                <td>{{arg32}}</td>
                <td>{{arg42}}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>{{arg3}}</td>
                <td>{{arg13}}</td>
                <td>{{arg23}}</td>
                <td>{{arg33}}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>{{arg4}}</td>
                <td>{{arg14}}</td>
                <td>{{arg24}}</td>
                <td>{{arg34}}</td>
            </tr>
            <tr>
                <td>6</td>
                <td>{{arg5}}</td>
                <td>{{arg15}}</td>
                <td>{{arg25}}</td>
                <td>{{arg35}}</td>
            </tr>
            <tr>
                <td>7</td>
                <td>{{arg6}}</td>
                <td>{{arg16}}</td>
                <td>{{arg26}}</td>
                <td>{{arg36}}</td>
            </tr>
            <tr>
                <td>8</td>
                <td>{{arg7}}</td>
                <td>{{arg17}}</td>
                <td>{{arg27}}</td>
                <td>{{arg37}}</td>
            </tr>
            <tr>
                <td>9</td>
                <td>{{arg8}}</td>
                <td>{{arg18}}</td>
                <td>{{arg28}}</td>
                <td>{{arg38}}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>{{arg9}}</td>
                <td>{{arg19}}</td>
                <td>{{arg29}}</td>
                <td>{{arg39}}</td>
            </tr>
        </table>

        <p>How happy or sad was the music you've been listening to?</p>
        <p>{{arg43}}</p>

</div>

      <form action="index.html">
    <input type="submit" value="Home" id="button1"/>
</form>
<!-- <form action="contact.html">
<input type="submit" value="Contact" />
</form>
<form action="about.html">
<input type="submit" value="About" />
</form> -->
<br>

<span style="float:right">Venmo @Shreeyash_Nadella</span><br/>
<span style="float:right">Venmo @Zack_McKevitt</span><br/>
<span style="float:right ; color: rgb(192, 192, 192);">Venmo @Ethanschultz555<br/>
<span style="float:right">Venmo @TrevorPetersonCOCA</span><br/>

    </body>
